<img class="go-top" src="../../../../assets/carrot.svg" alt="go to top" (click)="scrollToTop()"
	[class.hidden]="isHideScrollButton">
<ul class="sci">
	<li><a href=""><i class="fa fa-facebook"></i></a></li>
	<li><a href=""><i class="fa fa-twitter"></i></a></li>
	<li><a href=""><img class="zalo" src="../../../../assets/info1/zalo.svg" alt="flower icon"></a></li>
</ul>
<div class="info-1">
	<div class="circle-path" [ngStyle]="{'background-color': pathColor}">
	</div>
	<div class="content">
		<div class="text-box">
			<h2 class="mb-3">
				Bạn cần trái cây đảm bảo chất lượng?<br>Hãy đến <span>Trang Trại Cô Bảy</span>
			</h2>
			<p class="mb-5">
				Nơi chuyên bán sỉ và lẻ các loại trái cây tươi ngon, chất lượng, đảm bảo nguồn gốc xuất xứ.
				Ngoài ra còn có ốc bưu đen và các loại hoa kiểng.
			</p>
			<button class="btn bg-green-600 hover:bg-green-700 focus:ring-green-600" (click)="learnMore()">
				Tìm hiểu thêm
			</button>
			<button class="btn ml-4 bg-gray-200 hover:bg-gray-300 focus:ring-gray-300 order-now" (click)="gotoStore()">
				Đặt hàng ngay
			</button>
		</div>
		<div class="img-box">
			<img [src]="imageSource" alt="image">
		</div>
	</div>
	<ul class="thumb">
		<li (click)="changeImage('shell')"><img src="../../../../assets/info1/shell.svg" alt="shell icon"></li>
		<li (click)="changeImage('fruit')"><img src="../../../../assets/info1/fruits.svg" alt="fruits icon"></li>
		<li (click)="changeImage('flower')"><img src="../../../../assets/info1/flower.svg" alt="flower icon"></li>
	</ul>
</div>
<div class="info-2" id="nextInformation">
	<div class="font-medium mb-5 text-center text-3xl title">
		Dịch vụ của chúng tôi
	</div>
	<div class="info-2-1">
		<div class="container-info">
			<img class="img-info" src="../../../../assets/info2/traceability.svg" alt="flower icon">
			<div class="title-info">Đảm bảo nguồn gốc</div>
			<p>
				Nguồn gốc cây giống có xuất xứ rõ ràng. Có thể truy xuất nguồn gốc sản phẩm thông qua ứng dụng.
			</p>
		</div>
		<div class="container-info">
			<img class="img-info truck" src="../../../../assets/info2/delivery-truck.svg" alt="flower icon">
			<div class="title-info">Hỗ trợ giao hàng</div>
			<p>
				Vận chuyển sản phẩm với phương tiện hiện đại. Giao hàng miễn phí nếu khách hàng mua số lượng lớn.
			</p>
		</div>
		<div class="container-info">
			<img class="img-info" src="../../../../assets/info2/pill.svg" alt="flower icon">
			<div class="title-info">Không thuốc trừ sâu</div>
			<p>
				Chỉ sử dụng các loại phân vi sinh và phân hữu cơ. Không sử dụng các loại thuốc hóa học, trừ sâu.
			</p>
		</div>
	</div>
	<div class="info-2-2">
		<div class="container-info">
			<img class="img-info" src="../../../../assets/info2/validation.svg" alt="flower icon">
			<div class="title-info">Chứng nhận chất lượng</div>
			<p>
				Cơ sở trang trại đạt chuẩn GlobalGAP - một công cụ, tiêu chuẩn để hàng hóa có thể “thông hành” quốc
				tế.
			</p>
		</div>
	</div>
</div>
<div class="info-3 py-16">
	<div class="text-center mb-8 flex flex-col items-center">
		<div class="text-3xl mb-2 title">
			Đối tác
		</div>
		<div class="text-xl mx-40">
			Tự tin là đối tác của các khách hàng lớn. Chúng tôi tự hào và sẽ luôn cố gắng để hoàn thiện sản phẩm cũng
			như chất lượng dịch vụ của mình.
		</div>
	</div>
	<div class="w-full">
		<!-- Wrap the slider in div with overflow hidden to hide scrollbars -->
		<div class="overflow-hidden">

			<!-- The slider itself is a flex grid -->
			<div class="flex -mx-4 img-ticker">

				<!-- Original set of images -->
				<!-- Each image is a grid column with width 16rem (w-64) and horiztonal margin 1rem (mx-4) -->
				<img src="../../../../assets/info3/bigclogo.png">
				<img src="../../../../assets/info3/cj.png">
				<img src="../../../../assets/info3/Logo_Co-opmart_2012.jpg">
				<img src="../../../../assets/info3/lotte.jpg">
				<img src="../../../../assets/info3/marter_card.png">
				<img src="../../../../assets/info3/vinmart.jpg">
				<img src="../../../../assets/info3/visa.png">

				<!-- Copy set of images -->
				<img src="../../../../assets/info3/bigclogo.png">
				<img src="../../../../assets/info3/cj.png">
				<img src="../../../../assets/info3/Logo_Co-opmart_2012.jpg">
				<img src="../../../../assets/info3/lotte.jpg">
				<img src="../../../../assets/info3/marter_card.png">
				<img src="../../../../assets/info3/vinmart.jpg">
				<img src="../../../../assets/info3/visa.png">
			</div>
		</div>
	</div>
</div>
