.content {
	@apply relative w-full flex justify-between items-center;
	.text-box {
		@apply relative;
		max-width: 680px;

		h2 {
			color: #333;
			font-size: 2.2em;
			line-height: 1.5em;
			font-weight: 500;
			span {
				color: #017143;
				font-size: 1.2em;
				font-weight: 900;
			}
		}

		p {
			color: #333;
			font-size: 1.2em;
		}

		.order-now {
			color: #333;
		}
	}

	.img-box {
		width: 600px;
		height: 450px;
		@apply flex justify-end pr-12 mt-12;

		img {
			max-width: 340px;
		}
	}
}

.thumb {
	@apply flex items-center absolute bottom-5 left-1/2;
	transform: translateX(-50%);

	li {
		@apply list-none inline-block my-0 mx-5 cursor-pointer;
		transition: 0.5s;

		img {
			max-width: 60px;
		}
	}

	li:hover {
		transform: translateY(-1rem);
	}
}

.sci {
	@apply absolute flex justify-center items-center flex-col right-7 top-1/2;
	transform: translateY(-50%);
	li {
		@apply list-none;
		a {
			@apply inline-block my-1 mx-0;
			transform: scale(0.6);
			filter: invert(1);
			i {
				font-size: 3rem;
			}
		}
	}
}

.circle-path {
	@apply absolute top-0 left-0 w-full h-full;
	background: #017143;
	clip-path: circle(600px at right 800px);
}
