.sci {
	@apply fixed flex justify-center items-center flex-col right-7 top-1/2;
	z-index: 1;
	background-color: #ff8e71;
	transform: translateY(-50%);

	li {
		@apply list-none;

		a {
			@apply inline-block my-1 mx-0;
			transform: scale(0.6);
			filter: invert(1);

			i {
				font-size: 3rem;
			}
		}

		.zalo {
			height: 50px;
			width: 50px;
		}
	}
}

.info-1 {

	@apply relative w-full block;
	height: 680px;

	.content {
		@apply relative w-full flex justify-between items-center px-24 pb-24;

		.text-box {
			@apply relative;
			max-width: 680px;

			h2 {
				color: #333;
				font-size: 2.2em;
				line-height: 1.5em;
				font-weight: 500;

				span {
					color: #017143;
					font-size: 1.2em;
					font-weight: 900;
				}
			}

			p {
				color: #333;
				font-size: 1.2em;
			}

			.order-now {
				color: #333;
			}
		}

		.img-box {
			width: 600px;
			height: 450px;
			@apply flex justify-end mt-12;

			img {
				max-width: 340px;
			}
		}
	}

	.thumb {
		@apply flex items-center absolute bottom-5 left-1/2;
		transform: translateX(-50%);

		li {
			@apply list-none inline-block my-0 mx-5 cursor-pointer;
			transition: 0.5s;

			img {
				max-width: 60px;
			}
		}

		li:hover {
			transform: translateY(-1rem);
		}
	}

	.circle-path {
		@apply absolute top-0 left-0 w-full h-full;
		background: #017143;
		clip-path: circle(600px at right 800px);
	}
}

@mixin title-color {
	color: #017143;
}


.info-2 {
	@apply flex justify-center items-center px-28 py-36 w-full;
	background-color: #fff;

	.title {
		@include title-color();
	}

	img {
		width: 600px;
		height: 400px;
	}

	.content {
		@apply ml-8 p-4 text-left;
	}
}

.info-3 {
	@apply py-12;

	.title {
		@include title-color;
	}

	.container-info {
		@apply flex flex-col items-center m-4 text-center max-w-sm bg-gray-100 rounded-xl p-8 shadow-sm;

		.img-info {
			width: 150px;
			height: 150px;
		}

		.truck {
			width: 200px;
		}

		.title-info {
			@apply font-medium px-4 py-3;
			font-size: 1.4rem;
			@include title-color;
		}
	}

	.container-info:hover {
		@apply shadow-md border-green-500 border;
	}

	.content {
		@apply mx-24 flex justify-center;
	}
}

.go-top {
	@apply fixed bottom-6 right-8 cursor-pointer h-12 w-12;
	z-index: 2;
}

.info-4 {
	background-color: #fff;

	.title {
		@include title-color;
	}

	@keyframes ticker-kf {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(-108rem, 0, 0);
		}
	}

	.img-ticker {
		animation: ticker-kf 18s linear infinite;

		img {
			@apply w-72 h-64 bg-white mx-4 self-start flex-none shadow-md rounded-xl border border-gray-200;
		}
	}
}
