@import "./styles/style.scss";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
	@apply m-0 p-0 box-border;
	font-family: 'Varela Round', sans-serif;
}

section {
	@apply p-24 flex justify-between items-center bg-white relative w-full min-h-screen;
}

header {
	@apply w-full flex justify-between items-center absolute top-0 left-0 py-3 pl-24 pr-10;

	.logo {
		width: 4rem;
		height: 6rem;
	}

	ul {
		li {
			@apply list-none;

			a {
				@apply inline-block ml-10 font-normal no-underline;
				color: #292524;
			}

			a:hover {
				@apply underline;
			}
		}
	}
}
